<html>
    <head>
        <h1>Python header debugger</h1>
    </head>
    <body>
        <table>
            <tr>
                <th>Request body</th>
            </tr>
            <tr>
                <td>{{ body }}</td>
            </tr>     
        </table>
    </body>
</html>