<html>
    <head>
        <h1>Python header debugger</h1>
    </head>
    <body>
        <table>
            <tr>
                <th>Headername</th>
                <th>Headerdata</th>
            </tr>
            {% for key, value in headers.items() %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
            {% endfor %}        
        </table>
    </body>
</html>